body {
    text-align: center;
    background-color: palegreen;
}
#canvasTop {
  background-color: palegreen;
  display: none;
  text-align: center;
  width: 505px;
  height: 600px;
}
button,
#scorespan,
#score,
#livesspan,
#lives {
  font-family: Impact, sans-serif;
  font-size: 20px;
  background-color: palegreen;
  text-align: right;
}
#score,
#lives {
  width: 20px;
}
#startScreen {
  display: block;
}
#start,
#restart,
#replay {
  background-color: limegreen;
}
#restart,
#replay {
  display: none;
}
#headline {
  display: none;
  font-family: Impact, sans-serif;
  font-size: 40px;
}
/*Avatars Section*/
#avatar {
  color: royalblue;
}
#characters button {
  display: inline;
  border: 1px double blue;
  text-align: center;
}
#characters button:hover {
  background-color: royalblue;
  color: limegreen;
}
img {
  vertical-align: middle;
  margin: -40px -10px -20px 0px;
}