body {
    text-align: center;
    background-color: palegreen;
}
#canvasTop {
  background-color: palegreen;
  display: none;
  text-align: center;
  width: 505px;
  height: 600px;
}
button,
#scorespan,
#score,
#livesspan,
#lives {
  font-family: Impact, sans-serif;
  font-size: 20px;
  background-color: palegreen;
  text-align: right;
}
#score,
#lives {
  width: 20px;
}
#startScreen {
  display: block;
}
#headline {
  display: none;
  font-family: Impact, sans-serif;
  font-size: 40px;
}